{% extends "base.html" %}
{% load static %}

{% block title %}anim tags{% endblock %}

{% block content %}
<div class="hero-wrap js-fullheight" style="background-image: url({% static '/images/add-tag.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Tagi atrakcji</h1>
          </div>
        </div>
      </div>
    </div>

    <section class="ftco2-section-parallax">
      <div class="parallax-img d-flex align-items-center">
        <div class="container">
          <div class="row d-flex justify-content-center">
            {% for y in animtag %}
              <ul>
                <li> {{ y.anim_tag}} </li>
              </ul>
            {% endfor %}
          </div>
        </div>
      </div>
      <!--<div class="parallax-img d-flex align-items-center">
          <span class="ml-auto"><a href="index">Home</a></span>
      </div>-->
    </section>
    <center><a href="{% url 'index' %}" class="btn btn-link btn-lg active" role="button" aria-pressed="true"><button type="submit" class="form-control btn btn-primary btn-primary-home nav-button">Home</button></a></center>
{% endblock %}