{% load static %}

<nav class="navbar navbar-expand-lg navbar-dark ftco_navbar bg-dark ftco-navbar-light" id="ftco-navbar">
	      <div class="container">
	            <a class="navbar-brand" href="/index"><img src="{% static '/images/logo.png' %}"></a>
	        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#ftco-nav" aria-controls="ftco-nav" aria-expanded="false" aria-label="Toggle navigation">
	            <span class="oi oi-menu"></span> Menu
	        </button>
	        <div class="collapse navbar-collapse" id="ftco-nav">
	            <ul class="navbar-nav ml-auto">
				{% comment %} <form class="form-inline">
    			<input class="form-control mr-sm-2 nav-search" type="search" placeholder="Search" aria-label="Search">
    			<button class="form-control btn btn-primary nav-button" type="submit">Go!</button>
  				</form> {% endcomment %}
	            <!--<li class="nav-item active"><a href="index.html" class="nav-link">Home</a></li> -->
	            <!--<li class="nav-item"><a href="about.html" class="nav-link">About</a></li>-->
	            <li class="nav-item"><a href="animacje" class="nav-link">Animacje</a></li>
	            <li class="nav-item"><a href="atrakcje" class="nav-link">Atrakcje</a></li>
	            <li class="nav-item"><a href="blog" class="nav-link">Blog</a></li>
				<li class="nav-item"><a href= "login" class="nav-link"><button type="submit" class="form-control btn btn-primary nav-button">Logowanie</button></a></li>
	            <!--<li class="nav-item"><a href="contact.html" class="nav-link">Contact</a></li>-->
	          </ul>
	        </div>
	      </div>
	  </nav>