{% extends 'base.html'%}
{% load static %}

{% block title %}profile{% endblock %}

{% block content %}
    <div class="hero-wrap js-fullheight" style="background-image: url({% static '/images/bg_profil.jpg' %});">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text js-fullheight align-items-center justify-content-center" data-scrollax-parent="true">
          <div class="col-md-9 text-center ftco-animate" data-scrollax=" properties: { translateY: '70%' }">
            <h1 class="mb-3 bread" data-scrollax="properties: { translateY: '30%', opacity: 1.6 }">Profil</h1>
          </div>
        </div>
      </div>
    </div>

<!---->

    {% if request.user.is_authenticated %}
        {% comment %} <p>username: {{ request.user.username }}</p> {% endcomment %}
        {% comment %} <p><a href ="{% url 'logout/<int:pk>' pk=pk %}"> Wyloguj</a> </p> {% endcomment %}
            <section class="profil">
            <h2>Twoje wiadomości</h2>
                <h3>Skrzynka odbiorcza</h3>
            {% if inbox is not None %}
                {% if inbox.count > 0 %}
                    <ul>
                    {% for s in inbox %}
                        <li>Wiadomość do: <span class="tagi">{{ s.receiver }}</span> Otrzymano: <span class="tagi">{{ s.sent }}</span></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p> Nie masz żadnych wiadomości przychodzących</p>
                {% endif %}
            {% endif %}
                <h3>Wysłane wiadomości</h3>
            {% if sent is not None %}
                {% if sent.count > 0 %}
                    <ul>
                    {% for s in sent %}
                    <li>Wiadomość od: <span class="tagi">{{ s.receiver }}</span> Wysłano: <span class="tagi">{{ s.sent }}</span></li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p> Nie wysłałeś żadnych wiadmości </p>
                {% endif %}
            {% endif %}
            <h2>Twoje atrakcje</h2>
            {% if atrakcje is not None %}
                {% if atrakcje.count > 0 %}
                    <ul>
                    {% for s in atrakcje %}
                        <li>{{ s.attr_name }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p> Nie dodałeś żadnych atrakcji</p>
                    <p><a href="{% url 'add-atrakcje' %}">Dodaj atrakcje</a></p>
                {% endif %}
            {% endif %}
            <h2>Twoje animacje</h2>
            {% if animacje is not None %}
                {% if animacje.count > 0 %}
                    <ul>
                    {% for s in animacje %}
                        <li>{{ s.anim_name }}</li>
                    {% endfor %}
                    </ul>
                {% else %}
                    <p> Nie dodałeś żadnych atrakcji</p>
                    <p><a href="{% url 'add-animacje' %}">Dodaj animacje</a></p>
                    </section>
                {% endif %}
                <section class="profil">
                    <p><a href="{% url 'reset_password' user.id %}">Zmień hasło</a></p>
                    <p><a href="{% url 'userlogout' %}">Wyloguj się</a></p>
                </section>
            {% endif %}        
    {% else %}
    <section class="profil">
        <h2>Użytkownik niezalogowany</h2>
        <p><a href="{% url 'login' %}">Zaloguj się</a></p>
    </section>
    {% endif %} 

    {% comment %} <p><a href="{% url 'message/<int:pk1>' %}">Napisz wiadomość</a><p> {% endcomment %}
    {% comment %} <p><a href ="{% url 'logout' %}"> Wyloguj</a> </p> {% endcomment %}
{% endblock %}